<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Special+Elite&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="src/assets/favicon.gif" type="image/x-icon">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex" />
    <title></title>
</head>
<body style="margin:0">
    <div id="root"></div>
</body>
</html>
